/* -------------------------------------------------- */
/*  Slider
/* -------------------------------------------------- */
@font-face {
    font-family: "NotoSans-Regular";
    src: url('font-family/NotoSansCJKjp-Regular.otf') format("opentype");
}
@font-face {
    font-family: "NotoSans-DemiLight";
    src: url('font-family/NotoSansCJKjp-DemiLight.otf') format("opentype");
}

@font-face {
    font-family: "NotoSans-Medium";
    src: url('font-family/NotoSansCJKjp-Medium.otf') format("opentype");
}

@font-face {
    font-family: "NotoSans-Light";
    src: url('font-family/NotoSansCJKjp-Light.otf') format("opentype");
}

@font-face {
    font-family: "NotoSans-Thin";
    src: url('font-family/NotoSansCJKjp-Thin.otf') format("opentype");
}

@font-face {
    font-family: "NotoSans-Bold";
    src: url('font-family/NotoSansCJKjp-Bold.otf') format("opentype");
}

@font-face {
    font-family: "NotoSans-Black";
    src: url('font-family/NotoSansCJKjp-Black.otf') format("opentype");
}

.ss-slider {
	background: white url(../img/loader.gif) no-repeat center 185px;
	margin: 20px auto 80px;
	max-height: 465px;
	max-width: 940px;
	overflow: hidden;
	position: relative;
}

.ss-slider.fully-loaded {
	overflow: visible;
}

.ss-slider.fully-loaded,.no-js .ss-slider {
	background: none;
}

.no-js .ss-slider {
	max-height: none;
}

/* ---------------------------------------- */
/*  Single Slide
/* ---------------------------------------- */
.ss-slider .slides-container {
	position: absolute;
	top: 0;
	z-index: -1;
}

.ss-slider .slide {
	display: none;
	margin: 0;
}

.ss-slider .slide:first-child {
	display: block;
}

.ss-slider.fully-loaded .slide,.no-js .ss-slider .slide {
	background-repeat: no-repeat;
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.ss-slider.fully-loaded .slide {
	height: 100%;
}

.no-js .ss-slider .slide {
	margin: 40px 0 0;
}

.no-js .ss-slider .slide:first-child {
	margin-top: 0;
}

.ss-slider .slide-img {
	background-repeat: no-repeat;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
}

.ss-slider .slide-images-container {
	background: #fff;
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	z-index: 11;
}

.ss-slider .slide-bg-image {
	background: #fff;
	margin: 0;
	width: 100%;
}

.ss-slider.fully-loaded .slide-bg-image {
	display: none;
}

.no-js .ss-slider .slide-bg-image {
	display: block;
}

/* ---------------------------------------- */
/*  Button
/* ---------------------------------------- */
.ss-slider .buttons-container {
	background: #fff;
	width: 100%;
	position: absolute;
	top: 420px;
	z-index: 20;
}

.ss-slider.hide-bottom-buttons .buttons-container {
	display: none;
}

.ss-slider .slide-button,.no-js .ss-slider .slide-button:hover {
	background: #f8f8f8;
	border-bottom: 1px solid #e9e9e9;
	border-top: 20px solid #dfdfdf;
	-webkit-box-shadow: 1px 0 0 #fff inset, 0 1px 0 0 #fff inset;
	-moz-box-shadow: 1px 0 0 #fff inset, 0 1px 0 0 #fff inset;
	box-shadow: 1px 0 0 #fff inset, 0 1px 0 0 #fff inset;
	color: #3a3a3a;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 20px;
	height: 0;
	overflow: hidden;
	padding: 0 20px;
	text-align: left;
	text-decoration: none;
	-webkit-transition: background-color .2s ease, border .2s ease, color
		.2s ease, opacity .2s ease-in-out;
	-moz-transition: background-color .2s ease, border .2s ease, color .2s
		ease, opacity .2s ease-in-out;
	-ms-transition: background-color .2s ease, border .2s ease, color .2s
		ease, opacity .2s ease-in-out;
	-o-transition: background-color .2s ease, border .2s ease, color .2s
		ease, opacity .2s ease-in-out;
	transition: background-color .2s ease, border .2s ease, color .2s ease,
		opacity .2s ease-in-out;
	width: 100%;
}

.ss-slider.hide-bottom-buttons .slide-button {
	display: none;
}

.ss-slider .slide:first-child .slide-button {
	-webkit-box-shadow: 0 1px 0 0 #fff inset;
	-moz-box-shadow: 0 1px 0 0 #fff inset;
	box-shadow: 0 1px 0 0 #fff inset;
}

.ss-slider.fully-loaded .slide-button:hover,.ss-slider.fully-loaded .slide-button.active
	{
	background: #f0f0f0;
	color: #f15a23;
}

.ss-slider.fully-loaded .slide-button:hover {
	border-top-color: #aeaeae;
}

.no-js .ss-slider .slide-button,.no-js .ss-slider .slide-button:hover {
	cursor: auto;
}

.no-js .ss-slider a>.slide-button:hover {
	cursor: pointer;
}

.ss-slider .slide-button h5 {
	color: #3a3a3a;
	font: 700 14px/1.5 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
		sans-serif;
	margin: 0;
}

.ss-slider.fully-loaded .slide-button.active h5 {
	color: #f15a23;
	display: none;
}

.ss-slider .slide-button .description {
	color: #959393;
	font-size: 11px;
	line-height: 12px;
	display: none;
}

.ss-slider .slide-button .dropcap {
	background: #3a3a3a;
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;
	color: #fff;
	font-weight: 700;
	height: 38px;
	width: 38px;
	display: none;
}

.ss-slider .slide-button.image,.no-js .ss-slider .slide-button.image:hover
	{
	height: 80px;
	padding: 0;
	text-align: center;
}

.ss-slider .slide-button img {
	background: #f8f8f8;
	display: inline-block;
	font-size: 11px;
	max-height: 80px;
	filter: alpha(opacity = 35);
	/* Fallback for old IE */
	opacity: 0.35;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}

.ss-slider .slide-button:hover img,.ss-slider.fully-loaded .slide-button.active img
	{
	background: #f0f0f0;
}

.no-js .ss-slider .slide-button:hover img,.no-js .ss-slider .slide-button.active img
	{
	background: #f8f8f8;
}

.ss-slider.fully-loaded .slide-button:hover img,.ss-slider.fully-loaded .slide-button.active img,.no-js .ss-slider .slide-button img
	{
	filter: alpha(opacity = 100);
	/* Fallback for old IE */
	opacity: 1;
}

/* ---------------------------------------- */
/*  Content
/* ---------------------------------------- */
.ss-slider .content-container,.no-js .ss-slider .slide-content {
	background: black;
	/* Fallback for old IE */
	filter: alpha(opacity = 60);
	/* Fallback for old IE */
	background: rgba(0, 0, 0, 0.6);
	bottom: 115px;
	left: 30px;
	margin: 0;
	overflow: hidden;
	padding: 25px 30px 30px;
	position: absolute;
	width: 255px;
	z-index: 2;
	display: none;
}

.ss-slider.hide-content .content-container {
	display: none;
}

.ss-slider.hide-bottom-buttons .content-container,.no-js .ss-slider.hide-bottom-buttons .slide-content
	{
	bottom: 30px;
}

.ss-slider.show-content-onhover .content-container,.ss-slider.show-content-onhover .pagination-container a
	{
	opacity: 0;
	filter: alpha(opacity = 0);
	/* Fallback for old IE */
}

.ss-slider.fully-loaded.show-content-onhover:hover .content-container,.ss-slider.fully-loaded.show-content-onhover:hover .pagination-container a
	{
	opacity: 1;
	filter: alpha(opacity = 60);
	/* Fallback for old IE */
}

.ss-slider.fully-loaded .content-container {
	-webkit-transition: bottom .2s ease, height .2s ease, opacity .2s
		ease-in-out;
	-moz-transition: bottom .2s ease, height .2s ease, opacity .2s
		ease-in-out;
	-ms-transition: bottom .2s ease, height .2s ease, opacity .2s
		ease-in-out;
	-o-transition: bottom .2s ease, height .2s ease, opacity .2s ease-in-out;
	transition: bottom .2s ease, height .2s ease, opacity .2s ease-in-out;
}

.ss-slider .content-container.center {
	bottom: auto;
	left: 50%;
	margin-left: -193px;
	padding: 20px 30px;
	text-align: center;
	top: 135px;
	width: 326px;
}

.ss-slider .content-container.bottom {
	bottom: 85px;
	left: 38px;
	max-width: 804px;
	padding: 10px 30px;
	text-align: center;
	width: 100%;
}

.ss-slider.hide-bottom-buttons .content-container.bottom {
	bottom: 0;
}

.ss-slider .slide-content {
	color: #bfbfbf;
	display: none;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.75);
}

.ss-slider .slide-content a {
	color: #f15a23;
}

.ss-slider .slide-content a:hover {
	text-decoration: underline;
}

.ss-slider .slide-content h1,.ss-slider .slide-content h2,.ss-slider .slide-content h3,.ss-slider .slide-content h4,.ss-slider .slide-content h5,.ss-slider .slide-content h6
	{
	color: #fff;
	margin: 0;
}

.ss-slider .slide-content h1+*,.ss-slider .slide-content h2+*,.ss-slider .slide-content h3+*,.ss-slider .slide-content h4+*,.ss-slider .slide-content h5+*,.ss-slider .slide-content h6+*
	{
	margin-top: 5px;
}

.ss-slider .slide-content h2 {
	font-size: 20px;
	font-weight: 700;
}

.ss-slider .slide-content h6 {
	font-size: 13px;
	font-weight: 400;
}

.ss-slider .slide-content p {
	margin-bottom: 10px;
}

.ss-slider .slide-content p:last-of-type {
	margin-bottom: 0;
}

.ss-slider .slide-content .button {
	color: #fff;
	font-size: 11px;
	padding: 5px 14px;
	text-shadow: none;
}

.ss-slider .slide-content .button:hover {
	text-decoration: none;
}

/* ---------------------------------------- */
/*  Pagination
/* ---------------------------------------- */
.ss-slider .pagination-container a {
	background: #f15a23 url(../img/slider-arrows-small.png) no-repeat 0
		center;
	/* Fallback for old IE */
	filter: alpha(opacity = 60);
	/* Fallback for old IE */
	background: rgba(241, 90, 35, 0.6) url(../img/slider-arrows-small.png)
		no-repeat 0 center;
	bottom: 115px;
	color: transparent;
	cursor: pointer;
	display: block;
	font: 0/0 a;
	min-height: 27px;
	left: 346px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	text-shadow: none;
	-webkit-transition: background-color .2s ease, bottom .2s ease, height
		.2s ease, opacity .2s ease-in-out, top .2s ease;
	-moz-transition: background-color .2s ease, bottom .2s ease, height .2s
		ease, opacity .2s ease-in-out, top .2s ease;
	-ms-transition: background-color .2s ease, bottom .2s ease, height .2s
		ease, opacity .2s ease-in-out, top .2s ease;
	-o-transition: background-color .2s ease, bottom .2s ease, height .2s
		ease, opacity .2s ease-in-out, top .2s ease;
	transition: background-color .2s ease, bottom .2s ease, height .2s ease,
		opacity .2s ease-in-out, top .2s ease;
	width: 15px;
	z-index: 2;
}

.ss-slider.hide-bottom-buttons .pagination-container a {
	bottom: 30px;
}

.ss-slider.hide-content .pagination-container a {
	display: none;
}

.ss-slider .pagination-container .next {
	background-position: -15px center;
	bottom: 156px;
}

.ss-slider.hide-bottom-buttons .pagination-container .next {
	bottom: 71px;
}

.ss-slider .pagination-container a:hover,.ss-slider.show-content-onhover:hover .pagination-container a:hover
	{
	background-color: #f15a23;
	filter: alpha(opacity = 100) !important;
	/* Fallback for old IE */
}

.ss-slider .pagination-container.center a {
	background-image: url(../img/slider-arrows-large.png);
	bottom: auto;
	left: 50%;
	min-height: 40px;
	top: 135px;
	width: 35px;
}

.ss-slider .pagination-container.center .prev {
	background-position: 0 center;
	left: 241px;
}

.ss-slider .pagination-container.center .next {
	background-position: -35px center;
	left: auto;
	right: 241px;
}

.ss-slider .pagination-container.bottom a {
	background-image: url(../img/slider-arrows-medium.png);
	bottom: 85px;
	min-height: 20px;
	width: 37px;
}

.ss-slider.hide-bottom-buttons .pagination-container.bottom a {
	bottom: 0;
}

.ss-slider .pagination-container.bottom .prev {
	background-position: -1px center;
	left: 0;
}

.ss-slider .pagination-container.bottom .next {
	background-position: -40px center;
	left: auto;
	right: 0;
}

.ss-slider .pagination-container {
	display: none;
}

/* ---------------------------------------- */
/*  Active Slide Bar
/* ---------------------------------------- */
.ss-slider .active-slide-bar {
	background: #FFBF00;
	bottom: 21px !important;
	display: block;
	height: 21px;
	left: 0;
	position: absolute;
	visibility: hidden;
	z-index: 92;
	top: 420px;
}

.ss-slider.hide-bottom-buttons .active-slide-bar {
	display: none;
}

/* ---------------------------------------- */
/*  Custom Slider CSS
/* ---------------------------------------- */
#features-slider {
	margin: 0 !important;
	max-width: 100% !important;
	width: 100% !important;
}

/* Mixins */
/* Colors */
/* Fonts */
/* General CSS */
body,html {
	margin: 0;
	padding: 0;
}

body {
	border-top: 6px solid #444444;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1,h2,h3,h4 {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: black;
}

a {
	text-decoration: none;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	border: none;
	color: #ffbf00;
}

a img {
	border: none;
}

a h1,a h2,a h3,a h4 {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: black;
}

.container {
	width: 970px;
	margin: 0 auto;
}

.container-slim {
	width: 770px;
	margin: 0 auto;
}

/* Input Fields */
.input-field {
	background-color: #F8F8F8;
	border: 1px solid #ddd;
	padding: 14px;
	margin: 0;
	margin-bottom: 10px;
}

/* Buttons */
.btn {
	background-color: #ffbf00;
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: white;
	text-align: center;
	padding: 10px 20px;
	text-transform: uppercase;
	border: none;
}

.btn:hover,.btn:focus {
	cursor: pointer;
}

/* Icons */
.icon {
	width: 28px;
	height: 28px;
	float: left;
	background-repeat: no-repeat;
}

.icon-inline {
	width: 28px;
	height: 28px;
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
	top: 9px;
}

.icon-fb {
	background-image: url("../img/icons/icon-fb.png");
}

.icon-tw {
	background-image: url("../img/icons/icon-tw.png");
}

.icon-yt {
	background-image: url("../img/icons/icon-yt.png");
}

.icon-ig {
	background-image: url("../img/icons/icon-ig.png");
}

.icon-phone {
	background-image: url("../img/icons/icon-phone.png");
}

.icon-address {
	background-image: url("../img/icons/icon-address.png");
}

.icon-email {
	background-image: url("../img/icons/icon-email.png");
}

.icon-edit {
	background-image: url("../img/icons/icon-edit.png");
}

.icon-phone-black {
	background-image: url("../img/icons/icon-phone-black.png");
}

.icon-address-black {
	background-image: url("../img/icons/icon-address-black.png");
}

.icon-arrow-right {
	background-image: url("../img/icons/icon-arrow-right.png");
}

.icon-delete {
	background-image: url("../img/icons/icon-delete.png");
}

.icon-x {
	background-image: url("../img/icons/icon-x.png");
}

.icon-question {
	background-image: url("../img/icons/icon-question.png");
}

/* Header */
#header {
	padding-top: 10px;
	height: 80px;
	margin-bottom: 20px;
}

#header #logo {
	width : 340px;
	display: inline-block;
}

#header #logo img {
	max-width: 100%;
}

/* Scaffolding */
.col {
	float: left;
}

.col-half,.col-two-third,.col-one-third,.col-one-quarter,.col-three-quarter
	{
	width: 50%;
	float: left;
}

.col-half.last,.last.col-two-third,.last.col-one-third,.last.col-one-quarter,.last.col-three-quarter
	{
	margin-right: 0;
}

.col-two-third {
	width: 66%;
}

.col-one-third {
	width: 33%;
}

.col-one-quarter {
	width: 25%;
}

.col-three-quarter {
	width: 75%;
}

/* Fluid Grid */
.fluid-grid,.fluid-grid li {
	margin: 0;
	padding: 0;
}

.fluid-grid {
	text-align: justify;
}

.fluid-grid li {
	width: 23%;
	display: inline-block;
	vertical-align: top;
}

.fluid-grid li img {
	max-width: 100%;
}

.fluid-grid li.gap {
	height: 0;
}

/* Clearfix */
.cf:before,.cf:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

/* Navigation */
#nav {
	float: right;
	height: 100%;
	margin: 0;
	padding: 0;
}

#nav li {
	display: inline-block;
	text-align: center;
	height: 100%;
	position: relative;
	overflow: hidden;
	/* Second level Navigation */
}

#nav li a {
	height: 58px;
	padding: 22px 20px 0;
	margin: 0;
	color: black;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	line-height: 12px;
}

#nav li a span {
	position: relative;
	top: 0;
	transition: top 0.15s ease-out;
	-webkit-transition: top 0.15s ease-out;
}

#nav li .dot-container {
	margin: 0;
	padding: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	margin-top: -4px;
	left: 0;
	right: 0;
	height: 4px;
	font-size: 12px;
	letter-spacing: 3px;
}

#nav li .dot-container .dot {
	height: 4px;
	width: 4px;
	background-color: #ffbf00;
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0;
	padding: 0;
	opacity: 0;
	filter: alpha(opacity = 0);
}

#nav li a:after {
	content: attr(data-description);
	display: block;
	color: #aaaaaa;
	font-size: 12px;
	font-family: "Lato", sans-serif;
	line-height: 12px;
	font-style: italic;
	font-weight: 400;
	text-align: center;
	text-transform: lowercase;
	margin-top: 8px;
	transition: top 0.15s ease-out;
	-webkit-transition: top 0.15s ease-out;
	position: relative;
	top: 0;
}

#nav li:hover a span,#nav li:focus a span {
	top: -6px;
}

#nav li:hover a:after,#nav li:focus a:after {
	top: 6px;
}

#nav li ul {
	background-color: #444444;
	color: white;
	font-size: 12px;
	font-family: "Lato", sans-serif;
	position: fixed;
	top: 80px;
	padding: 0;
	margin: 0;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	width: 200px;
	z-index: 9999;
}

#nav li ul li {
	display: block;
	width: 100%;
	text-align: left;
	vertical-align: middle;
}

#nav li ul li a {
	padding: 16px 20px 8px;
	height: auto;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	color: white;
	transition: background-color 0.15s ease-out;
	-webkit-transition: background-color 0.15s ease-out;
}

#nav li ul li a:hover,#nav li ul li a:focus {
	background-color: #ffbf00;
}

#nav li:nth-child(1) a:after {
	text-transform: uppercase;
}

/* Content */
#content {
	padding-bottom: 120px;
	border-top: 1px solid #eee;
	width: 970px;
	margin: 0 auto;
	min-height: 470px;
}

/* Hero */
.hero {
	height: 440px;
	margin-bottom: 30px;
}

.hero-buckets {
	margin-bottom: 30px;
}

.hero-buckets li {
	width: 23%;
}

.hero-buckets li .heading {
	color: black;
	font-size: 14px;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.hero-buckets li .copy {
	color: #666666;
	font-size: 12px;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	text-align: left;
	font-weight: 400;
}

/* Page Headings */
.page-heading {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	padding: 20px 0 10px;
}

.page-heading h1 {
	font-size: 18px;
	text-align: center;
}

.page-heading .dot-container {
	margin: 0;
	padding: 0;
	line-height: 0;
	height: 4px;
	font-size: 12px;
	letter-spacing: 3px;
}

.page-heading .dot-container .dot {
	height: 4px;
	width: 4px;
	background-color: #ffbf00;
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0;
	padding: 0;
}

/* What's New */
.whats-new {
	height: 295px;
	margin-bottom: 30px;
	position: relative;
	border-bottom: 4px solid #444444;
}

.whats-new .whats-new-heading-container {
	background-color: #444444;
	padding: 20px;
	position: absolute;
	top: 45%;
	right: 10%;
}

.whats-new .whats-new-heading-container h2 {
	color: white;
	font-size: 14px;
	max-width: 190px;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

.whats-new .whats-new-heading-container p {
	color: white;
	max-width: 190px;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.whats-new-buckets {
	padding-bottom: 30px;
}

.whats-new-buckets li {
	width: 31%;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 70px;
}

.whats-new-buckets li .shader {
	background: -moz-linear-gradient(top, transparent 0%, transparent 33%, rgba(0, 0, 0,
		0.55) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,
		transparent), color-stop(33%, transparent),
		color-stop(100%, rgba(0, 0, 0, 0.55)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, transparent 0%, transparent 33%, rgba(0, 0,
		0, 0.55) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, transparent 0%, transparent 33%, rgba(0, 0, 0,
		0.55) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, transparent 0%, transparent 33%, rgba(0, 0, 0,
		0.55) 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, transparent 0%, transparent 33%, rgba(0, 0, 0
		, 0.55) 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',
		endColorstr='#8c000000', GradientType=0);
	/* IE6-9 */
	width: 100%;
	height: 70px;
	position: absolute;
	top: 0;
}

.whats-new-buckets li .thumb {
	z-index: 2;
}

.whats-new-buckets li .heading {
	color: white;
	font-size: 12px;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	text-align: left;
	width: 70%;
	position: absolute;
	top: 8px;
	left: 20px;
}

.whats-new-buckets li .copy {
	color: #666666;
	font-size: 12px;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	text-align: left;
	font-weight: 400;
	line-height: 18px;
}

.whats-new-buckets .trio-img-container {
	height: 70px;
	overflow: hidden;
}

/* Chefs */
.chefs .chef-thumb {
	width: 470px;
	height: 260px;
	margin-right: 30px;
	float: left;
	position: relative;
	overflow: hidden;
}

.chefs .chef-thumb.one,.chefs .chef-thumb.two {
	margin-bottom: 30px;
}

.chefs .chef-thumb.last {
	margin-right: 0;
}

.chefs .chef-thumb .name-english,.chefs .chef-thumb .name-japanese,.chefs .chef-thumb .description
	{
	position: absolute;
}

.chefs .chef-thumb .name-english {
	top: 180px;
	left: 30px;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	color: white;
}

.chefs .chef-thumb .name-japanese {
	top: 204px;
	left: 30px;
	font-size: 14px;
	color: white;
}

.chefs .chef-thumb .description {
	display: none;
	position: absolute;
	top: 0;
	width: 410px;
	height: 200px;
	padding: 30px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: white;
	background-color: rgba(0, 0, 0, 0.35);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59000000',
		endColorstr='#59000000', GradientType=0);
	/* IE6-9 */
}

/* Blog */
.blog-front .col-blog-left {
	width: 720px;
	margin-right: 30px;
}

.blog-front .col-blog-left img {
	max-width: 100%;
}

.blog-front .col-blog-right {
	width: 220px;
}

.blog-front .col-blog-right h2 {
	font-size: 12px;
}

.blog-post {
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
	margin-bottom: 50px;
}

.blog-post:last-child {
	margin-bottom: 0;
}

.blog-post img {
	display: block;
	clear: both;
	margin-bottom: 30px;
}

.blog-post h2 {
	font-size: 14px;
	margin: 0;
}

.blog-post p {
	color: #666666;
	font-size: 12px;
	line-height: 18px;
}

.blog-post .post-content {
	width: 470px;
	margin-right: 30px;
	float: left;
}

.blog-post .post-info-container {
	width: 220px;
	float: right;
}

.blog-post .post-info-container .post-info {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.blog-post .post-info-container .post-info li {
	font-size: 12px;
	color: #666666;
	margin-bottom: 10px;
}

.blog-post .post-info-container .post-info li span {
	font-weight: 700;
}

.blog-post .post-info-container .read-more {
	display: block;
}

.blog-categories {
	list-style-type: none;
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
}

.blog-categories li {
	margin-bottom: 10px;
}

.blog-categories a {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #666666;
	text-align: left;
}

.blog-categories a:hover,.blog-categories a:focus {
	color: #ffbf00;
}

.blog-view {
	margin-bottom: 50px;
}

.blog-view img {
	display: block;
	clear: both;
	margin-bottom: 30px;
}

.blog-view h2 {
	font-size: 14px;
	margin: 0;
}

.blog-view p {
	color: #666666;
	font-size: 12px;
	line-height: 18px;
}

.blog-view .post-info-container {
	width: 220px;
	border-top: 1px solid #eee;
	margin-top: 20px;
	padding-top: 20px;
}

.blog-view .post-info-container .post-info {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.blog-view .post-info-container .post-info li {
	font-size: 12px;
	color: #666666;
	margin-bottom: 10px;
}

.blog-view .post-info-container .post-info li span {
	font-weight: 700;
}

.blog-view .post-info-container .read-more {
	display: block;
}

/* Blog Post */
.comments-form .module-heading {
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 20px;
}

.comments-form .input-block input,.comments-form .input-block textarea {
	background-color: #F8F8F8;
	border: 1px solid #ddd;
	padding: 14px;
	margin: 0;
	margin-bottom: 10px;
}

#respond .comments-form textarea {
	margin-bottom: 0;
}

.input-block.error .error-message,.textarea-block.error .error-message {
	background-color: rgba(255, 65, 54, 0.25);
	width: 234px;
	padding: 12px 20px;
	margin-bottom: 30px;
	margin-top: 10px;
	text-align: center;
	position: relative;
	font-size: 12px;
	font-weight: bold;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.input-block.error .error-message:after,.textarea-block.error .error-message:after
	{
	content: "";
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid rgba(255, 65, 54, 0.25);
	position: absolute;
	top: -8px;
	left: 12px;
}

/* Pagination */
.pagination {
	width: 100%;
	text-align: center;
	color: #ccc;
}

.pagination li {
	display: inline-block;
	color: #444444;
}

.pagination .disabled,.pagination .next,.pagination .prev {
	padding: 0 10px;
	color: #444444;
}

/* Comments Module */
#comments h1,#comments h2,#comments h3,#comments h4,#comments h5,#comments h6
	{
	color: black;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	line-height: 1.25;
	margin-bottom: 15px;
}

#respond .button,#respond input[type="submit"],#respond input[type="reset"],#respond button
	{
	background: #ffbf00;
}

#respond textarea {
	margin-bottom: 20px;
}

/* Area List */
.area-list {
	text-align: center;
	padding: 0;
	font-size: 0;
}

.area-list a {
	color: #666666;
	font-size: 12px;
	font-weight: 400;
	background-color: white;
	display: block;
	padding: 20px;
	border: 1px solid #eee;
	margin-left: -1px;
	text-transform: uppercase;
}

.area-list a:hover,.area-list a:focus,.area-list a.active {
	background-color: #ffbf00;
	color: white;
}

.area-list li {
	display: inline-block;
	padding: 0;
	margin: 0;
	line-height: 24px;
}

/* Instructor List */
.instructor-list .row {
	height: 220px;
	border: 1px solid #eee;
	margin-bottom: 30px;
}

.instructor-list .row .instructor-col-left,.instructor-list .row .instructor-col-right
	{
	float: left;
}

.instructor-list .row .instructor-col-left {
	width: 220px;
}

.instructor-list .row .instructor-col-left img {
	max-width: 100%;
}

.instructor-list .row .instructor-col-right {
	width: 488px;
	min-height: 160px;
	padding: 30px;
	position: relative;
}

.instructor-list .row .instructor-col-right .icon {
	position: relative;
	top: -2px;
}

.instructor-list .row .name {
	margin: 0;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	font-weight: 700;
}

.instructor-list .row .phone,.instructor-list .row .address,.instructor-list .row .description
	{
	font-size: 12px;
	color: #666666;
}

.instructor-list .row .phone {
	width: 120px;
}

.instructor-list .row .phone,.instructor-list .row .address {
	display: inline-block;
	line-height: 28px;
	vertical-align: top;
}

.instructor-list .row .description {
	margin: 0;
	line-height: 16px;
	max-height: 80px;
	overflow: hidden;
}

.instructor-list .row .btn-view {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
	padding-right: 38px;
}

.instructor-list .row .btn-view .icon {
	float: none;
	position: absolute;
	right: 6px;
	top: 50%;
	margin-top: -14px;
	display: inline-block;
	text-align: left;
}

/* Profile */
.profile .profile-picture {
	width: 220px;
	height: 220px;
	margin: 0 auto 30px;
	position: relative;
	text-align: center;
}

.profile .profile-picture img {
	max-width: 100%;
	-webkit-border-radius: 110px;
	-moz-border-radius: 110px;
	border-radius: 110px;
}

.profile .btn-delete {
	position: absolute;
	left: 50%;
	bottom: 0;
	margin: 0;
	margin-left: -52px;
	padding-left: 38px;
}

.profile .btn-delete .icon {
	float: none;
	position: absolute;
	left: 6px;
	top: 50%;
	margin-top: -14px;
	display: inline-block;
	text-align: left;
}

.profile .btn-contact {
	margin: 0 auto;
	width: 220px;
	display: block;
	z-index: 1000;
	position: relative;
}

.profile .divider {
	position: relative;
	top: -17px;
	z-index: 1;
	margin: 0;
	padding: 0;
	border: 1px solid #eee;
}

.profile .module-heading {
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 20px;
}

.profile .module-heading-inline {
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 20px;
	display: inline-block;
	width: auto;
}

.profile .info {
	font-size: 12px;
	color: #666666;
	line-height: 18px;
	margin-bottom: 30px;
}

.profile .food-gallery-container {
	margin-bottom: 30px;
	font-size: 0;
}

.profile .food-gallery-container .food-item {
	width: 33%;
	float: left;
	text-align: center;
	position: relative;
}

.profile .food-gallery-container .food-item.left {
	text-align: left;
}

.profile .food-gallery-container .food-item.right {
	text-align: right;
}

.profile .food-gallery-container .food-item img {
	max-width: 90%;
	border: 4px solid white;
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.profile .food-gallery-container .btn-delete {
	position: absolute;
	left: 50%;
	bottom: 0;
	margin: 0;
	margin-left: -52px;
	padding-left: 38px;
}

.profile .food-gallery-container .btn-delete .icon {
	float: none;
	position: absolute;
	left: 6px;
	top: 50%;
	margin-top: -14px;
	display: inline-block;
	text-align: left;
}

.profile .location-container {
	margin-bottom: 30px;
}

.profile .location-container .input-zip,.profile .location-container .input-zip-extra,.profile .location-container .input-address,.profile .location-container .select-prefecture,.profile .location-container .calendar-iframe-input
	{
	background-color: #F8F8F8;
	border: 1px solid #ddd;
	padding: 14px;
	margin: 0;
	margin-bottom: 10px;
}

.profile .location-container .input-zip {
	margin-right: 10px;
}

.profile .location-container .zip-symbol {
	display: inline-block;
}

.profile .location-container .zip-symbol,.profile .location-container .zip-dash
	{
	margin-right: 10px;
}

.profile .location-container .input-zip {
	width: 80px;
}

.profile .location-container .input-zip-extra {
	width: 120px;
}

.profile .location-container .select-prefecture {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 764px;
}

.profile .location-container .input-address {
	width: 734px;
}

.profile .schedule-container {
	margin-bottom: 30px;
}

.profile .schedule-container .calendar-iframe-input {
	background-color: #F8F8F8;
	border: 1px solid #ddd;
	padding: 14px;
	margin: 0;
	width: 734px;
}

.userpage-editbtn-wrapper {
	text-align: center;
}

.btn-save {
	z-index: 10;
	margin-top: 20px;
}

.introductions-container .input input {
	background-color: #F8F8F8;
	border: 1px solid #ddd;
	padding: 14px;
	margin: 0;
	margin-bottom: 10px;
	width: 764px;
}

/* User Edit & User Password Form */
#UserEditForm,#UserPasswordForm {
	margin-top: 20%;
}

#UserEditForm .input,#UserPasswordForm .input {
	text-align: center;
}

#UserEditForm .input label,#UserPasswordForm .input label {
	display: block;
	clear: both;
	color: #666;
	font-size: 12px;
	margin-bottom: 10px;
}

#UserEditForm .input input,#UserPasswordForm .input input {
	background-color: #F8F8F8;
	border: 1px solid #ddd;
	padding: 14px 0;
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
	width: 220px;
}

#UserEditForm .input .btn-submit,#UserPasswordForm .input .btn-submit {
	width: 220px;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
}

.btn-edit {
	position: relative;
	top: 350px;
	z-index: 10;
}

.phonenumber-container input {
	background-color: #F8F8F8;
	border: 1px solid #ddd;
	padding: 14px;
	margin: 0;
	margin-bottom: 10px;
}

.phonenumber-container .input-phonenumber-extra-one {
	width: 60px;
}

.phonenumber-container .zip-dash {
	margin-left: 10px;
	margin-right: 10px;
}

/* Contact */
.contact-modal {
	width: 460px;
	padding: 30px;
	margin: 0 auto;
	position: relative;
	-webkit-box-shadow: 0 7px 7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0 7px 7px rgba(0, 0, 0, 0.75);
	box-shadow: 0 7px 7px rgba(0, 0, 0, 0.75);
	background-color: white;
	z-index:9999;
}

.contact-modal .modal-heading {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 20px;
}

.contact-modal input,.contact-modal textarea {
	background-color: #F8F8F8;
	border: 1px solid #ddd;
	padding: 14px;
	margin: 0;
	margin-bottom: 10px;
	width: 430px;
}

.contact-modal .btn-send {
	border: none;
	background-color: #ffbf00;
	width: 220px;
	margin: 0 auto;
	display: block;
	padding: 10px;
}

.contact-modal .btn-close {
	background-color: #ffbf00;
	height: 32px;
	width: 32px;
	position: absolute;
	right: 30px;
	top: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

/* Login */
.login-title {
	width: 220px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20%;
}

.login-title h3 {
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.login {
	min-height: 400px;
	text-align: center;
}

.login .input {
	display: block;
}

.login .input input {
	background-color: #F8F8F8;
	border: 1px solid #ddd;
	padding: 14px 0;
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
	width: 220px;
}

.login .input label {
	display: block;
	clear: both;
	color: #666;
	font-size: 12px;
	margin-bottom: 10px;
}

.login .input.password+a {
	color: #ffbf00;
	font-size: 12px;
	display: inline-block;
	margin: 10px 0;
}

.login .btn-login {
	border: none;
	width: 220px;
	display: inline-block;
	text-align: center;
}

/* Hidden Fields */
.hidden {
	display: none;
}

/* Information Pages */
.info-page-buckets {
	padding-bottom: 30px;
}

.info-page-buckets li {
	width: 31%;
	position: relative;
}

.info-page-buckets li .thumb {
	z-index: 2;
}

.info-page-buckets li .heading {
	font-size: 12px;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}

.info-page-buckets li .copy {
	color: #666666;
	font-size: 12px;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	text-align: left;
	font-weight: 400;
	line-height: 18px;
}

.info-content {
	margin-bottom: 30px;
}

.info-content img {
	max-width: 50%;
}

/* Helper Classes for Info/Blog Pages */
.image-left {
	float: left;
	margin: 40px 40px 40px 0;
}

.image-center {
	display: block;
	margin: 40px auto;
}

.image-right {
	float: right;
	margin: 40px 0 40px 40px;
}

/* Popup Message */
.message {
	width: 80%;
	text-align: center;
	padding: 20px 0;
	margin: 20px auto;
	font-size: 12px;
	font-weight: 700;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.message.error {
	background-color: rgba(255, 65, 54, 0.25);
}

.message.success {
	background-color: rgba(46, 204, 64, 0.25);
}

/* Footer */
#footer {
	padding: 20px 0 40px;
	background-color: #444444;
	min-width: 970px;
}

#footer #nav-footer {
	font-size: 10px;
	width: 100%;
	margin: 0;
	margin-bottom: 4px;
	padding: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#footer #nav-footer li {
	display: inline-block;
}

#footer #nav-footer li a {
	color: #989898;
	text-transform: uppercase;
}

#footer #nav-footer li a:after {
	content: " /";
	margin: 0 6px;
}

#footer #nav-footer li.last a:after {
	content: none;
}

#footer .contact-info,#footer .social-links {
	margin: 0;
	padding: 0;
}

#footer .contact-info li,#footer .social-links li {
	display: inline-block;
	font-size: 10px;
	color: #989898;
	font-style: italic;
	line-height: 28px;
}

#footer .contact-info li a,#footer .social-links li a {
	color: #989898;
	line-height: 28px;
}

#footer .contact-info li .icon {
	margin-right: 4px;
	margin-left: 14px;
}

#footer .contact-info li:first-child .icon {
	margin-left: 0;
}

#footer .social-links {
	text-align: right;
}

#footer .copyright {
	float: right;
	margin-right: 12px;
	margin-top: 5px;
	display: inline-block;
	font-size: 10px;
	color: #989898;
	font-style: italic;
	line-height: 28px;
}

.dlt_submit {
    border: medium none;
    color: #ffbf00;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    text-decoration: none;
    background-color:white;
    padding:0px;
    cursor: pointer;
}
.vertical {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
}
#nav li a#cart{
	position:relative;
	margin-top:5px;
    padding-top: 10px;
    padding-left: 6px;
    padding-right: 10px;
    margin-bottom:-10px;
    height:50px;
	
}
#nav li a#cart:hover{
	 -moz-box-shadow:    inset 0 0 3px #ffbf00;;
   -webkit-box-shadow: inset 0 0 3px #ffbf00;;
   box-shadow:         inset 0 0 3px #ffbf00;;
    border-radius:10px;
}

#nav li a span#cart_item_number{
	color:white;
	width:19px;
	position:absolute;
	top:13px;
	left:21.5px;
	text-align:center;
}
